{% extends 'base.html.twig' %}

    {% block title %}Série # {{ category.name }}{% endblock %}

    {% block body %}
        <h1> Série # {{ category.name }} </h1>

        {% for program in programs %}
<div class="container">
                          <div class="card-body">
                            <h5 class="card-title">{{ program.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted"> {{ program.id }}</h6>

                            <p class="card-text">{{ program.summary }}</p>
                            <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
                          </div>
</div>

        {% else %}
            Aucune série trouvée.
        {% endfor %}
        <a href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    {% endblock %}
