{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}
    <h1> {{ 'Episode Index'|trans }}</h1>
    <a href="{{ path('episode_new') }}"> {{ 'Add an Episode'|trans }}</a>
    <table class="table">
        <thead>
        <tr>

            <th> {{ 'Program'|trans }}</th>
            <th> {{ 'Season Number'|trans }}</th>
            <th> {{ 'Episode Number'|trans }}</th>
            <th> {{ 'Title'|trans }}</th>
            <th> {{ 'Synopsis'|trans }}</th>
            <th> {{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>

                <td>{{ episode.season.program.title }}</td>
                <td>{{ episode.season.id }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.synopsis }}</td>
                <td>
                    <a href="{{ path('episode_show', {id: episode.slug}) }}">{{ 'Show Details'|trans }}</a>
                    <a href="{{ path('episode_edit', {slug: episode.slug}) }}">{{ 'Edit'|trans }}</a>

                    {{ include('episode/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'No Records Found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
