{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
    <h1>{{ 'Season Index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'Program'|trans }}</th>
                <th>{{ 'Number'|trans }}</th>
                <th>{{ 'Year'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.program.title }}</td>
                <td>{{ season.number }}</td>
                <td>{{ season.year }}</td>
                <td>{{ season.description }}</td>
                <td>
                    <a href="{{ path('season_show', {'id': season.id}) }}">{{ 'Show Details'|trans }}</a>
                    <a href="{{ path('season_edit', {'id': season.id}) }}">{{ 'Edit'|trans }}</a>
                    {{ include('season/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'No Records Found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('season_new') }}"> {{ 'Add a season'|trans }}</a>
    <a href="{{ path('excel')}}">{{ 'Export to XLS'|trans }}</a>
{% endblock %}
