{% extends 'base.html.twig' %}

{% block title %}Hello Acteurs!{% endblock %}

{% block body %}
    <h1>{{ 'All Actors'|trans }}: </h1>
    {% for actor in actors %}
        <div>
            <h2>{{ loop.index }} / {{ actor.name }} </h2>
            <a href="{{ path("actor_show", { id : actor.id }) }}">{{ 'Show Details'|trans }}</a>
        </div>
    {% else %}
        {{ 'No Records Found'|trans }}
    {% endfor %}
    <a href="">
        {{ 'Add an Actor'|trans }}
    </a>

    <a href="{{ path('app_index') }}">
        {{ 'Back To Home'|trans }}
    </a>
{% endblock %}
