{% extends 'base.html.twig' %}

{% block title %}Hello ProgramsController!{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Search</button>
    {{ form_end(form) }}

    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
            <a href="{{ path("program_show", { program_id : program.slug }) }}">Voir la fiche</a>

            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('program_edit', { 'slug' : program.slug }) }}">edit</a>

            {%endif%}
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('program_new') }}">
        Ajouter Série
    </a>

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
