{% extends 'base.html.twig' %}

    {% block title %}Season #{{ season.id }}{% endblock %}

    {% block body %}
        <h1 class="mt-0">Detail Saison </h1>
        <h1 class="mt-0">{{ program.title }} season {{ season.id }}</h1>
        <div class="container-fluid">
        <ul>
            <li>
                Program : {{ program.id }}
            </li>
            <li>
                Summary : {{ program.summary }}
            </li>

        </ul>

        <ul>
            <li>
                Season: {{ season.number }}
            </li>
            <li>
                Year: {{ season.year }}
            </li>
            <li>
                Description : {{ season.description }}
            </li>
        </ul>

        <div>
            <h1> All Episodes </h1>
        </div>
        {% for episode in episodes %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Title : {{ episode.title }}</h5>
                <p class="card-text">Number : {{ episode.number }}</p>
                <p class="card-text">Synopsis : {{ episode.synopsis }}</p>

                <a href="{{ path('program_episode_show', {programId:program.id, seasonId: season.id, episodeId: episode.id}) }}" class="btn btn-primary">Go to episode</a>
            </div>
            </div>
        {% endfor %}
            </div>

    {% endblock %}